params {
    // Input parameters
    reads_unmapped_bams = null // List of BAM files, comma separarted or pattern
    reference_fasta = null
    sample_name = "sample"
    sample_original_name = null

    aligner = "minimap2"
    novocraft_license = null
    min_coverage = 3
    major_cutoff = 0.75
    skip_mark_dupes = false
    trim_coords_bed = null

    // Docker containers
    docker_viral_assemble = "quay.io/broadinstitute/viral-assemble:2.5.1.0"
    docker_viral_core = "quay.io/broadinstitute/viral-core:2.5.10"
    docker_viral_phylo = "quay.io/broadinstitute/viral-phylo:2.5.1.0"
    docker_viral_classify = "quay.io/broadinstitute/viral-classify:2.5.1.0"
    docker_ivar = "andersenlabapps/ivar:1.3.1"
    
    // Default resources
    max_memory = '16.GB'
    max_cpus = 4
    max_time = '24.h'
}

profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
}

// Process resource configuration
process {
    withName: 'ALIGN_READS|ALIGN_TO_SELF' {
        container = params.docker_viral_core
        cpus = 8
        memory = '15.GB'
    }
    withName: 'IVAR_TRIM' {
        container = params.docker_ivar
        cpus = 4
        memory = '7.GB'
    }
    withName: 'REFINE_ASSEMBLY' {
        container = params.docker_viral_assemble
        cpus = 8
        memory = '15.GB'
    }
    withName: 'RUN_DISCORDANCE' {
        container = params.docker_viral_core
        cpus = 2
        memory = '3.GB'
    }
    withName: 'MERGE_BAMS' {
        container = params.docker_viral_core
        cpus = 2
        memory = '4.GB'
    }
    withName: 'LOFREQ' {
        container = params.docker_viral_phylo
        cpus = 2
        memory = '3.GB'
    }
    withName: 'ALIGNMENT_METRICS' {
        container = params.docker_viral_core
        cpus = 4
        memory = '16.GB'
    }
    withName: 'PLOT_COVERAGE' {
        container = params.docker_viral_core
        cpus = 2
        memory = '7.GB'
    }
}
